<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add</title>
  </head>
  <body>
    <h1>Add book</h1>
    <form action="#" th:action="@{/add}" th:object="${book}" method="post">
      <label for=""> Author</label>
      <input type="text" th:field="*{author}" />
      <label for="">Title</label>
      <input type="text" th:field="*{title}" />
      <label for="">ISBN</label>
      <input type="text" th:field="*{isbn}" />
      <label for="">Year</label>
      <input type="text" th:field="*{publicationYear}" />
      <input type="submit" value="Save" />
    </form>
  </body>
</html>
